
# Application URLs
BASE_URL=your_base_url_here

# API URLs
FAKESTOREAPI_URL=your_fakestore_api_url_here
JSONPLACEHOLDER_API=your_jsonplaceholder_api_url_here
REQRES_API=your_reqres_api_url_here

# SauceDemo Users
SAUCEDEMO_STANDARD_USER=your_standard_username_here
SAUCEDEMO_LOCKED_USER=your_locked_username_here
SAUCEDEMO_PROBLEM_USER=your_problem_username_here
SAUCEDEMO_PERFORMANCE_USER=your_performance_username_here
SAUCEDEMO_ERROR_USER=your_error_username_here
SAUCEDEMO_VISUAL_USER=your_visual_username_here

# SauceDemo Passwords and Negative Test Data
SAUCEDEMO_PASSWORD=your_password_here
SAUCEDEMO_WRONG_USERNAME=your_invalid_username_here
SAUCEDEMO_WRONG_PASSWORD=your_invalid_password_here
SAUCEDEMO_EMPTY_USERNAME=
SAUCEDEMO_EMPTY_PASSWORD=

# Environment
NODE_ENV=development